@mixin font($alias, $name, $weight, $style: normal) {
    @font-face {
        font-family: $alias;
        src: url("~/assets/fonts/" + $name + ".woff2") format("woff2");
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}
