/*  Fonts  */
$base-font: 'TT Commons', sans-serif;
$base-font-size: 1.6rem;

/*  colors  */
$black: #101010;
$dark-grey: #232323;
$grey: #868686;
$light-grey: #f3f3f3;
$white: #ffffff;
$green: #9effbf;
$purple: #7941a7;
$lavender: #e2beFF;
$blue: #1059c8;
