*,
*:before,
*:after {
    box-sizing: border-box;
}

// stylelint-disable
html,
body,
#__nuxt,
#__layout {
    width: 100%;
    height: 100%;
}
// stylelint-enable

html {
    font-size: 10px;
}

body {
    background-color: $white;
    color: $black;
    font-family: $base-font;
    font-size: $base-font-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    font-family: inherit;
    outline: none;
}

input {
    outline: none;

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }

    &[disabled],
    fieldset[disabled] {
        opacity: 1;
        -webkit-text-fill-color: $white;
    }

    &::-ms-clear {
        display: none;
    }
}

textarea {
    resize: none;
}

pre,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: initial;
    font-weight: normal;
}

address {
    font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s;
}
